{% extends 'body.html' %}

{% block content %}

    <form method="'post">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-exclamation-triangle"></i>
                    {{ title }}
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
        
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-flat btnTest">
                    <i class="fas fa-plus"></i>
                    Nuevo registro
                </button>
            </div>
        </div>
    </form>
{% endblock %}

